# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [1]:
import pandas as pd
import numpy as np

In [2]:
Location = "datasets/tamiami.csv"
df = pd.read_csv(Location)

df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1,100,1600,8,12,4.16
1,2,80,1200,6,13,4.63
2,3,450,2800,19,6,0.50
3,4,580,4300,19,2,0.47
4,5,100,1400,6,13,4.24

In [17]:
#rename the pound/hashtag(#) column so it doesn't cause further issues.
df.rename(columns={'Cart Location':'Location'}, inplace =True)
df.rename(columns={'Hot Dog Sales':'Sales'}, inplace =True)
df.rename(columns={'Employees in Nearby Office Buildings':'Employees'}, inplace =True)
df.rename(columns={'Num of Nearby Restaurants':'Restaurants'}, inplace =True)
df.rename(columns={'Num of Other Food Carts Nearby':'Foodcarts'}, inplace =True)
df.head()

   location  sales  employees  Restaurants  foodcarts  price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

In [19]:
#creates a table of correlation values
df.corr()

             location     sales  employees  Restaurants  foodcarts     price
location     1.000000  0.042705  -0.068923     0.049701   0.077219 -0.138444
sales        0.042705  1.000000   0.943238     0.913674  -0.919762 -0.966378
employees   -0.068923  0.943238   1.000000     0.856976  -0.874692 -0.881540
Restaurants  0.049701  0.913674   0.856976     1.000000  -0.761793 -0.933951
foodcarts    0.077219 -0.919762  -0.874692    -0.761793   1.000000  0.860154
price       -0.138444 -0.966378  -0.881540    -0.933951   0.860154  1.000000

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?

In [20]:
import statsmodels.formula.api as smf

In [26]:
result = smf.ols('sales ~ location + employees + price',data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.972
Model:                            OLS   Adj. R-squared:                  0.968
Method:                 Least Squares   F-statistic:                     295.6
Date:                Thu, 18 Jul 2019   Prob (F-statistic):           3.35e-20
Time:                        14:20:19   Log-Likelihood:                -143.82
No. Observations:                  30   AIC:                             295.6
Df Residuals:                      26   BIC:                             301.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    268.1488     57.310      4.679      0.000     150.346     385.951
location      -0.3140      0.732     -0.429      0.672      -1.820       1.191
employees      0.0805      0.016      5.160      0.000       0.048       0.113
price        -67.3533      8.416     -8.003      0.000     -84.653     -50.054
==============================================================================
Omnibus:                        0.015   Durbin-Watson:                   2.482
Prob(Omnibus):                  0.993   Jarque-Bera (JB):                0.192
Skew:                           0.031   Prob(JB):                        0.909
Kurtosis:                       2.613   Cond. No.                     2.22e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.22e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
#create a column that contains all stat types and a column for their corresponding value
melt_df = pd.melt(df, 
                  id_vars=['location', 'sales', 'employees','price'], #column to keep not going into the melt.
                  var_name="Type") #changed into category (one category) date apple banana--- date, fruits, sales #(compare with above)

melt_df.head()

   location  sales  employees  price         Type  value
0         1    100       1600   4.16  Restaurants      8
1         2     80       1200   4.63  Restaurants      6
2         3    450       2800   0.50  Restaurants     19
3         4    580       4300   0.47  Restaurants     19
4         5    100       1400   4.24  Restaurants      6

In [28]:
melt_df.corr

<bound method DataFrame.corr of     location  sales  employees  price         Type  value
0          1    100       1600   4.16  Restaurants      8
1          2     80       1200   4.63  Restaurants      6
2          3    450       2800   0.50  Restaurants     19
3          4    580       4300   0.47  Restaurants     19
4          5    100       1400   4.24  Restaurants      6
5          6     50        700   4.21  Restaurants      4
6          7    120       1600   3.53  Restaurants      9
7          8    560       3500   0.45  Restaurants     18
8          9    250       1900   2.10  Restaurants     15
9         10    290       2400   1.59  Restaurants     13
10        11    520       3100   0.47  Restaurants     16
11        12    480       2700   0.53  Restaurants     18
12        13    510       3200   0.55  Restaurants     17
13        14     90       1600   4.54  Restaurants      8
14        15    110       1500   3.60  Restaurants      7
15        16    210       1600   2.81  Restaurants     10
16        17     40        600   4.99  Restaurants      2
17        18    180       1800   2.82  Restaurants      7
18        19     90       1500   4.21  Restaurants      9
19        20     80       1500   4.29  Restaurants      7
20        21    190       1900   3.13  Restaurants      8
21        22    240       1500   2.34  Restaurants     16
22        23    300       2500   1.61  Restaurants     15
23        24    260       1500   1.84  Restaurants     14
24        25    420       2600   0.51  Restaurants     18
25        26     60        900   4.64  Restaurants      5
26        27    200       1700   2.72  Restaurants     11
27        28    280       1900   1.79  Restaurants     10
28        29    500       3000   0.48  Restaurants     15
29        30    460       2900   0.53  Restaurants     17
30         1    100       1600   4.16    foodcarts     12
31         2     80       1200   4.63    foodcarts     13
32         3    450       2800   0.50    foodcarts      6
33         4    580       4300   0.47    foodcarts      2
34         5    100       1400   4.24    foodcarts     13
35         6     50        700   4.21    foodcarts     11
36         7    120       1600   3.53    foodcarts     13
37         8    560       3500   0.45    foodcarts      2
38         9    250       1900   2.10    foodcarts      9
39        10    290       2400   1.59    foodcarts      9
40        11    520       3100   0.47    foodcarts      3
41        12    480       2700   0.53    foodcarts      4
42        13    510       3200   0.55    foodcarts      3
43        14     90       1600   4.54    foodcarts     16
44        15    110       1500   3.60    foodcarts     13
45        16    210       1600   2.81    foodcarts     11
46        17     40        600   4.99    foodcarts     14
47        18    180       1800   2.82    foodcarts     14
48        19     90       1500   4.21    foodcarts     14
49        20     80       1500   4.29    foodcarts     14
50        21    190       1900   3.13    foodcarts     13
51        22    240       1500   2.34    foodcarts     16
52        23    300       2500   1.61    foodcarts      9
53        24    260       1500   1.84    foodcarts     13
54        25    420       2600   0.51    foodcarts      6
55        26     60        900   4.64    foodcarts     12
56        27    200       1700   2.72    foodcarts     12
57        28    280       1900   1.79    foodcarts      8
58        29    500       3000   0.48    foodcarts      4
59        30    460       2900   0.53    foodcarts      5>

In [29]:
result = smf.ols('sales ~ location + employees',data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.901
Model:                            OLS   Adj. R-squared:                  0.894
Method:                 Least Squares   F-statistic:                     123.4
Date:                Thu, 18 Jul 2019   Prob (F-statistic):           2.63e-14
Time:                        14:23:46   Log-Likelihood:                -162.45
No. Observations:                  30   AIC:                             330.9
Df Residuals:                      27   BIC:                             335.1
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -165.7118     33.938     -4.883      0.000    -235.347     -96.077
location       2.1651      1.212      1.786      0.085      -0.322       4.652
employees      0.1932      0.012     15.691      0.000       0.168       0.218
==============================================================================
Omnibus:                        3.780   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.151   Jarque-Bera (JB):                1.548
Skew:                          -0.062   Prob(JB):                        0.461
Kurtosis:                       1.894   Cond. No.                     7.14e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.14e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""